
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-family: fantasy;
  font-size: 20px;
}

img {
  width: 450px;
  height: 300px;
  margin: 10px;
  transition: all 1s;
}

img:hover{
  transform: scale(1.1)
}